.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.half-width {
    width: 45%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.code-side {
    overflow: auto;
    height: 90vh;
}

.output-side {
    background-color: black;
    color: lightgreen;
}